
#include "resource.h"
#include <windows.h>

IDI_APPICON             ICON    DISCARDABLE MOVEABLE     "hexmem.ico"

IDD_GOTO DIALOG FIXED IMPURE 20,40,161,23
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Go to..."
FONT 8, "Helv"
BEGIN
	CONTROL "Go to:", 100, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 7, 24, 8
	CONTROL "", IDC_GOTO_VALUE, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 5, 71, 12
	CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 4, 40, 14
END

IDD_PROCESSES DIALOG FIXED IMPURE 20,40,300,200
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Choose process"
FONT 8, "Helv"
BEGIN
	CONTROL "", IDC_PROCESS_LIST, "LISTBOX", WS_BORDER | WS_TABSTOP | WS_CHILD | WS_VISIBLE, 7, 7, 240, 195
	CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 254, 7, 40, 14
END

