
#include "resource.h"

IDI_APPICON             ICON    DISCARDABLE MOVEABLE    "hello.ico"
IDC_HELLOCURSOR         CURSOR  DISCARDABLE MOVEABLE    "hello.cur"
IDB_BLISS               BITMAP  DISCARDABLE MOVEABLE    "monoblis.bmp"

IDD_ABOUT DIALOG DISCARDABLE MOVEABLE  0, 0, 185, 29
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About this program"
#ifndef NO_DS_SETFONT // FIXME: Watcom resource compiler only supports #ifdef. #if conditionals are always true, apparently.
FONT 8, "MS Sans Serif"
#endif
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,129,6,50,14
    ICON            IDI_APPICON,IDC_STATIC,4,5,18,20
    LTEXT           "Example menu program",IDC_STATIC,27,6,91,10
    LTEXT           "(C) 2012 Jonathan Campbell",IDC_STATIC,27,16,98,10
END

