
#include "resource.h"

IDI_APPICON             ICON    DISCARDABLE MOVEABLE     "hello.ico"

IDD_ABOUT DIALOG DISCARDABLE MOVEABLE  0, 0, 185, 29
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About this program"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,129,6,50,14
    ICON            IDI_APPICON,IDC_STATIC,4,5,18,20
    LTEXT           "Example menu program",IDC_STATIC,27,6,91,10
    LTEXT           "(C) 2012 Jonathan Campbell",IDC_STATIC,27,16,98,10
END

