/* Resource file for VGA (3-plane) display driver */


#define OEMRESOURCE
#include "windows.h"
#include "dboxig.rcv" 

OCR_NORMAL	    cursor	PRELOAD FIXED	normal.cur
OCR_WAIT	    cursor	PRELOAD FIXED	wait.cur
OCR_SIZENWSE	    cursor	PRELOAD 	sizenwse.cur
OCR_SIZENESW	    cursor	PRELOAD 	sizenesw.cur
OCR_SIZEWE	    cursor	PRELOAD 	sizewe.cur
OCR_SIZENS	    cursor	PRELOAD 	sizens.cur
OCR_IBEAM	    cursor			ibeam.cur
OCR_CROSS	    cursor			cross.cur
OCR_UP		    cursor			up.cur
OCR_SIZE	    cursor			size.cur
OCR_ICON	    cursor			icon.cur

OIC_SAMPLE	    icon			sample.ico
OIC_HAND	    icon			hand.ico
OIC_QUES	    icon			ques.ico
OIC_BANG	    icon			bang.ico
OIC_NOTE	    icon			note.ico

OBM_OLD_RESTORE     bitmap			orest.bmp
OBM_OLD_REDUCE	    bitmap			ored.bmp
OBM_OLD_ZOOM	    bitmap			ozoom.bmp
OBM_OLD_RGARROW     bitmap			oright.bmp
OBM_OLD_LFARROW     bitmap			oleft.bmp
OBM_OLD_UPARROW     bitmap			oup.bmp
OBM_OLD_DNARROW     bitmap			odown.bmp
OBM_OLD_CLOSE	    bitmap			oclose.bmp

OBM_RESTORE	    bitmap	PRELOAD 	restore.bmp
OBM_RESTORED	    bitmap	PRELOAD 	restored.bmp
OBM_REDUCE	    bitmap	PRELOAD 	min.bmp
OBM_REDUCED	    bitmap	PRELOAD 	mind.bmp
OBM_ZOOM	    bitmap	PRELOAD 	max.bmp
OBM_ZOOMD	    bitmap	PRELOAD 	maxd.bmp
OBM_RGARROW	    bitmap	PRELOAD 	right.bmp
OBM_RGARROWD	    bitmap	PRELOAD 	rightd.bmp
OBM_LFARROW	    bitmap	PRELOAD 	left.bmp
OBM_LFARROWD	    bitmap	PRELOAD 	leftd.bmp
OBM_UPARROW	    bitmap	PRELOAD 	up.bmp
OBM_UPARROWD	    bitmap	PRELOAD 	upd.bmp
OBM_DNARROW	    bitmap	PRELOAD 	down.bmp
OBM_DNARROWD	    bitmap	PRELOAD 	downd.bmp
OBM_CLOSE	    bitmap	PRELOAD 	sysmenu.bmp
OBM_CHECK	    bitmap			ocheck.bmp
OBM_BTSIZE	    bitmap			obtsize.bmp
OBM_SIZE	    bitmap			osize.bmp
OBM_CHECKBOXES	    bitmap			obutton.bmp
OBM_BTNCORNERS	    bitmap			obtncorn.bmp
OBM_COMBO	    bitmap			combo.bmp
OBM_MNARROW	    bitmap			mnarrow.bmp

1		    oembin	PRELOAD 	config.bin
fonts		    oembin	PRELOAD 	fonts.bin
2		    oembin			colortab.bin
